@model University1.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicRank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FTCourses) 
        </dt>
        <dd class="col-sm-10">
            @foreach (var course in Model.FTCourses)
            {<a asp-controller="Courses" asp-action="Details" asp-route-id="@course.id"> @course.Title </a> <br />}
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.STCourses) 
        </dt>
        <dd class="col-sm-10">
            @foreach (var course in Model.STCourses)
            {<a asp-controller="Courses" asp-action="Details" asp-route-id="@course.id"> @course.Title </a> <br />}
        </dd>
    </dl>
</div>
<div>
    <a asp-action="TeacherEdit" asp-route-id="@Model.Id">Edit</a>
</div>
<div>
    <a asp-action="TeacherIndex">Back to Teachers List</a>
    <a asp-controller="Administrator" asp-action="CourseIndex">Back to Courses List</a>
</div>