@model University1.Models.TeacherNameDegreeViewModel

@{
    ViewData["Title"] = "Teachers";
}

<h1>Teachers</h1>

<p>
    <a asp-action="TeacherCreate">Add New</a>
</p>
<form asp-controller="Administrator" asp-action="TeacherIndex" method="get">
    <p>
    Name: <input type="text" asp-for="TeacherName" />
    Academic Rank: <select asp-for="TeacherRank" asp-items="Model.Ranks">
        <option value="">All</option>
    </select>
    Degree: <select asp-for="TeacherDegree" asp-items="Model.Degrees">
        <option value="">All</option>
    </select>
    <input type="submit" value="Filter" />
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Teachers[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teachers[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teachers[0].Degree)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teachers[0].AcademicRank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teachers[0].OfficeNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teachers[0].HireDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeacherVMs[0].FTCourses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeacherVMs[0].STCourses)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Teachers)
            {
            <tr>
                <td>
                    <img src="~/images/@item.ProfilePicture"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @foreach (var course in item.FTCourses)
                    {<a asp-controller="Courses" asp-action="Details" asp-route-id="@course.id"> @course.Title </a> <br />}
                </td>
                <td>
                    @foreach (var course in item.STCourses)
                    {<a asp-controller="Courses" asp-action="Details" asp-route-id="@course.id"> @course.Title </a> <br />}
                </td>
                <td>
                    <a asp-action="TeacherEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="TeacherDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="TeacherDelete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
